<launch>

  <include ns="rail_to_shaft_joint"
           file="$(find raspberry_pi_driver)/launch/rasberry_pi_driver.launch">
    <arg name="node_name" value="base_driver_node" />
    <arg name="cw_ccw" value="">     <!-- TODO -->
    <arg name="start_stop" value=""> <!-- TODO -->
    <arg name="interrupt" value="">  <!-- TODO -->
  </include>

  <include ns="shaft_to_arm0_joint"
           file="$(find raspberry_pi_driver)/launch/rasberry_pi_driver.launch">
    <arg name="node_name" value="shaft_driver_node" />
    <arg name="cw_ccw" value="">     <!-- TODO -->
    <arg name="start_stop" value=""> <!-- TODO -->
    <arg name="interrupt" value="">  <!-- TODO -->
  </include>

</launch>
